
.App{
  padding:20px 20%;
  position:relative;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
span p{
  display: inline-block;
  margin: 0;
  padding-top:10px ;
}
.rewrite{width: 60%;
  
} 
.question p{
  margin: 0;
  
}
.wrap-question{
  height: 80vh;
  overflow: auto;
  border: 1px solid #b1abab;
  padding: 20px;
  border-radius: 5px;
  position:relative;
}
.scrolltop{
  position:fixed;
  width:20px;
  height:20px;
  background:#fff;
  top:calc(80vh + 20px);
  right:calc(20% + 20px);
  border-radius:50%;
  cursor:pointer
}
.scrolltop:before{
  position:absolute;
  content:'';
  width:8px;
  height:8px;
  top:5px;
  left:5px;
  border-top:1px solid #501ea1;
  border-left:1px solid #501ea1;
  transform:rotate(45deg)
}
.scrolltop:after{
  position:absolute;
  content:'';
  width:1px;
  height:12px;
  top:5px;
  left:9px;
  background:#501ea1;
}
.scrolltop:hover{
  background:#eee;
}
.scrolltop:hover:before{
  border-top:1px solid #f0f;
  border-left:1px solid #f0f;
}
.scrolltop:hover:after{
  background:#f0f;
}
body{
  background:#501ea1;
  
}
body:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image:url("/public/bg.jpg");
  width: 100%;
  height: 100%;
  opacity : 0.1;
  z-index: -1;
}
.btn-shadow{
  background:#1b5edd;
  color:#fff;
  border-radius:5px;
  border:0;
  box-shadow: 2px 2px #102f6a;
  cursor:pointer
}
.btn-shadow:hover{
  background:rgb(14, 63, 156);
  box-shadow: 2px 2px rgb(27, 82, 184);
}
@media only screen and (max-width: 740px) {
  .App{
    padding:20px 10px;
  
  }
  .scrolltop{
    
    
    right: 10px;
    border-radius:50%;
    cursor:pointer
  }
  .wrap-rewrite{
    flex-direction:column
  } 
  .rewrite{width: 100%;
  
  }
}
.popup-menu{
  position:absolute;
  top:0;
  z-index:999;
  
  right:0;
}
.popup-content{
  width:200px;
}
.sub-menu{
  left:calc(100vw - 220px) !important;
  top:27px !important
}
.sub-menu a{width:200px !important;}
.wrap-rewrite p{ padding-top:0 !important

}
