@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@custom-variant hover (&:hover);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type=text],textarea{
  border:1px solid #ddd;
}
.menuSub{
  background:#601eae !important;
  color:#fff !important;
}
.menuSub:hover{
  background:#300b6d !important;
}
